services:
  spring:
    profiles:
        - prod
    build:
      dockerfile: Dockerfile
    container_name: todo-app
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      openldap:
        condition: service_started
    volumes:
      - ./src:/app/src
      - ./target:/app/target
    ports:
      - "${SPRING_APP_PORT}:8081"
    environment:
      SPRING_PROFILES_ACTIVE: "${SPRING_PROFILE}"
      SPRING_LDAP_URL: "${SPRING_LDAP_URL}"
      SPRING_LDAP_USER_DN: "${SPRING_LDAP_USER_DN}"
      SPRING_LDAP_PASSWORD: "${SPRING_LDAP_PASSWORD}"
      SPRING_BASE_DN: "${LDAP_BASE_DN}"
      SPRING_POSTGRES_USER: "${POSTGRES_USER}"           
      SPRING_POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"            
      SPRING_POSTGRES_DB: "${POSTGRES_DB}"
      SPRING_POSTGRES_PORT: "${POSTGRES_PORT}"
      SPRING_DB_HOST: "${SPRING_DB_HOST}"
      SPRING_POSTGRES_DEFAULT_SCHEMA: "${POSTGRES_DEFAULT_SCHEMA}"
      JWT_SECRET: "${JWT_SECRET}"
      JWT_ACCESS_EXPIRATION_MINUTES: "${JWT_ACCESS_EXPIRATION_MINUTES}"
      JWT_REFRESH_EXPIRATION_DAYS: "${JWT_REFRESH_EXPIRATION_DAYS}"
    networks:
      - p3-network
  openldap:
    image: osixia/openldap:latest
    container_name: openldap
    restart: unless-stopped
    environment:
      LDAP_ORGANISATION: "${LDAP_ORGANIZATION}"
      LDAP_DOMAIN: "${LDAP_DOMAIN}"
      LDAP_ADMIN_PASSWORD: "${LDAP_PASSWORD}"
      LDAP_BASE_DN: "${LDAP_BASE_DN}"
    ports:
      - "${LDAP_PORT}:389"
      - "${LDAP_SSL_PORT}:636"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
    networks:
      - p3-network

  ldap-account-manager:
    image: ldapaccountmanager/lam:latest
    container_name: ldap-account-manager
    restart: unless-stopped
    ports:
      - "${LAM_PORT}:80"
    volumes:
      - lamconfig:/var/lib/ldap-account-manager/config
    environment:
      LAM_PASSWORD: "${LAM_PASSWORD}"
      LAM_LANG: "${LAM_LANG}"
      LDAP_SERVER: "openldap"
      LDAP_DOMAIN: "${LDAP_DOMAIN}"
      LDAP_BASE_DN: "${LDAP_BASE_DN}"
      LDAP_USER: "cn=admin,${LDAP_BASE_DN}"
    networks:
      - p3-network

  redmine:
    image: redmine:5.1.3
    container_name: redmine
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      REDMINE_DB_POSTGRES: "db"
      REDMINE_DB_PORT: "${POSTGRES_PORT}"
      REDMINE_DB_DATABASE: "${POSTGRES_DB}"
      REDMINE_DB_USERNAME: "${POSTGRES_USER}"
      REDMINE_DB_PASSWORD: "${POSTGRES_PASSWORD}"
      REDMINE_SECRET_KEY_BASE: "${REDMINE_SECRET_KEY_BASE}"
    ports:
      - "${REDMINE_PORT}:3000"
    volumes:
      - redmine_files:/usr/src/redmine/files
    networks:
      - p3-network

  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - p3-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "${POSTGRES_PORT}:5432"

  pgadmin:
    image: dpage/pgadmin4:7.8
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: "${PGADMIN_EMAIL}"
      PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_PASSWORD}"
    ports:
      - "${PGADMIN_PORT}:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - p3-network

volumes:
  pgdata:
  pgadmin_data:
  ldap_data:
  ldap_config:
  lamconfig:
  redmine_files:

networks:
  p3-network:
    name: p3-network
    driver: bridge
